<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="cf4853e2-6442-4572-abf3-cdaabce96a39" Version="1.1.0.0" Publisher="CN=Manuel Rauber" />
  <Properties>
    <DisplayName>StupidRobot</DisplayName>
    <PublisherDisplayName>Manuel Rauber</PublisherDisplayName>
    <Logo>assets\Store\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="pages/game/game.html">
      <m2:VisualElements DisplayName="StupidRobot" Description="StupidRobot" BackgroundColor="#464646" ForegroundText="light" Square150x150Logo="assets\Store\logo.png" Square30x30Logo="assets\Store\smalllogo.png">
        <m2:DefaultTile Wide310x150Logo="assets\Store\widelogo.png">
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen BackgroundColor="#B9BD3E" Image="assets\Store\splashscreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>